@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu:wght@300;700&display=swap");
.navbar {
  position: sticky;
  background-color: rgb(22, 7, 36);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left h1 {
  font-size: 2.5rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white;
  text-decoration: none;
}

.checkBtn {
  display: none;
}

#check {
  display: none;
}

.right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.right ul li a {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}

.right ul li a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: rgb(22, 7, 36);
}

@media screen and (max-width: 805px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  .right ul {
    flex-direction: column;
    align-items: center;
  }
  .list {
    width: 100%;
    height: 100vh;
    background-color: rgb(22, 7, 36);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 4rem;
    left: 100%;
    transition: all 1s;
  }
  #check {
    display: none;
  }
  .checkBtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0%;
  }
}