.body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-container {
  text-align: center;
  padding: 20px;
  height: auto;
  width: 600px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(164, 98, 98, 0.1);
  margin: 0 auto;
  margin-bottom: 40px;
}

.home-container h2 {
  font-size: 24px;
  color: green;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 16px;
  color: green;
  line-height: 1.5;
}

.feedback-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.feedback-box {
  flex: 1;
  background-color: lightblue;
  border-radius: 8px;
  padding: 20px;
}

.feedback {
  margin-bottom: 10px;
}

.feedback p {
  margin: 0;
}

.feedback p:first-child {
  font-weight: bold;
}

.feedback p:last-child {
  font-style: italic;
}

.feedback-slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.feedback-slide.fade-in {
  opacity: 1;
}