.moviesWrapper{
    width: 90vw;
    height: 80vh;
    border: 0.1rem solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: auto;
    background-color: rgb(34, 34, 34);
  }