.aboutContainer {
    width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(164, 98, 98, 0.1);
  }
  
  .heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: black;
  }
  
  .description {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .link {
    display: block;
    text-align: center;
    color: #646cff;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }