.mainTitle {
  font-size: 1.8rem;
  color: #0020b3;
  font-weight: bold;
  padding: 4rem 0 0rem 3rem;
}

.concertsContainer {
  padding: 3rem;
}
.concertWrapper {
  text-align: center;
  background-color: #f7eecc;
  padding: 3rem;
}


.concertDate {
  font-weight: bold;
}
