body {
  color: black;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-family: Verdana, sans-serif;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 100%;
}
.navBar .navBar_container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.navBar .navBar_container .link {
  all: unset;
  position: relative;
  font-size: 20px;
  padding: 4px;
  cursor: pointer;
  color: #606060;
}
.navBar .navBar_container .link:hover {
  color: rgb(87, 132, 48);
}
.navBar .navBar_container .navBar_logo #logo {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.navBar .navBar_container .navBar_links {
  width: 1000px;
  max-width: 1000px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .cartIcon:hover .cartDetails {
  display: flex;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .cartIcon {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .cartIcon .itemsQuantity {
  position: absolute;
  top: 0;
  right: 4px;
  background-color: red;
  font-size: 16px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .cartIcon .icon {
  cursor: pointer;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .cartIcon .cartDetails {
  display: none;
  position: absolute;
  top: 50px;
  height: auto;
  width: 200px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  gap: 10px;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .cartIcon .cartDetails .cartItems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .cartIcon .cartDetails .cartItems .item {
  width: 100%;
  padding: 4px;
  border-bottom: 1px solid black;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .accountIcon:hover .profileDetails {
  display: flex;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .accountIcon {
  position: relative;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .accountIcon .icon {
  cursor: pointer;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .accountIcon .profileDetails {
  display: none;
  position: absolute;
  top: 50px;
  height: 100px;
  width: 100px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .accountIcon .profileDetails p {
  color: #606060;
  margin: 0;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv .material-symbols-outlined {
  font-size: 34px;
  color: #606060;
}
.navBar .navBar_container .navBar_links .logoutLoginDiv span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60px;
  height: 60px;
}
.navBar .navBar_container .navBar_links .links {
  display: flex;
  gap: 20px;
}

.videoContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
.videoContainer .sentensesContainer {
  position: absolute;
  width: 60%;
  z-index: 1;
}
.videoContainer h1 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  z-index: 1;
}
.videoContainer .darken {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.videoContainer video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overview_container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
  padding-bottom: 20px;
}
.overview_container .cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.overview_container .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 10px;
  width: 100%;
  height: 240px;
  border: 2px solid #E5E5E5;
  border-radius: 20px;
}
.overview_container .cards .card h1 {
  margin: 0;
}
.overview_container .cards .card p {
  margin: 0;
  font-size: 24px;
}
.overview_container .cards .card .number {
  font-size: 42px;
}
.overview_container .cards .card:hover {
  border: none;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.1);
}
.overview_container .brief {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}
.overview_container .brief h1 {
  margin: 0;
}
.overview_container .brief p {
  font-size: 18px;
  color: #7a7a7a;
}

.footer_container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_container .copyright {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: white;
}
.footer_container .copyright p {
  margin: 0;
}