body{
  background-color: rgb(55, 55, 51);
  width:100vw;
  height: 100vh;
}

#root{
  display: flex;
  flex-direction: column;
  width:100vw;
  height: 100vh;
}

h1{
  color: rgb(246, 241, 241);
  text-transform: capitalize;
  text-align: center;
}



