#resume {
  display: flex;
  background: url("http://leta.artrow.net/images/background.jpg");
  color: #333333;
  font: 14px/20px "Open Sans", Helvetica, Arial, sans-serif;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  z-index: 0;
}

#resume .fill-blue {
  background: none repeat scroll 0 0 #2d7fb9;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  height: 45px;
  line-height: 45px;
  padding-left: 35px;
  text-transform: uppercase;
}

#resume .substrate {
  background: none repeat scroll 0 0 rgb(252, 249, 249);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  display: block;
  margin-bottom: 30px;
  padding: 15px 20px;
  position: relative;
}

#resume .substrate:before {
  bottom: 15px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.3);
  content: "";
  height: 20%;
  left: auto;
  position: absolute;
  right: 5px;
  transform: rotate(3deg);
  width: 80%;
  z-index: -1;
  transform: rotate(3deg);
  -ms-transform: rotate(3deg);
}

#resume .left-column {
  display: flex;
  float: left;
  margin: 20px 0 0 20px;
  padding: 15px;
  width: 750px;
}

#resume .left-column .substrate {
  width: 100%;
  margin-left: 25px;
}

#resume .right-column {
  display: flex;
  margin: 20px 0 0 20px;
  padding: 15px;
  width: 850px;
}

#resume .substrate h2 {
  margin: 0 0 30px;
}

#resume h2 {
  font: 400 28px/28px "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

#resume .right-column .substrate {
  width: 100%;
  margin-left: 25px;
}

#resume .gradient-blue {
  background: linear-gradient(to bottom, #479cd7 0%, #2c7eb8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

#resume .substrate h2 {
  margin: 0 0 30px;
  font: 400 28px/28px "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

#resume .font-blue h2,
.font-yellow h2 {
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#resume .font-blue h3,
.font-blue h4,
.font-blue h5,
.font-blue h6 {
  color: #d4edff;
}

#resume h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

#resume h4 {
  color: #636262;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

#resume .p {
  margin-bottom: 20px;
  color: #a9dcff;
}

#resume .main-info-list {
  list-style: none;
  margin: 20px 0 20px;
  padding: 0;
}

#resume .main-info-list li {
  margin-bottom: 3px;
  color: #333;
  font-size: 14px;
  vertical-align: baseline;
  padding: 0;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

#resume .main-info-list li span {
  width: 150px;
  color: #444444;
  padding-left: 20px;
}

#resume .info-period {
  padding-left: 100px;
}

#resume .time-period-right-blue {
  margin-left: 10px;
  padding: 2px 10px;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
}

#resume .time-period-right-blue {
  background: #2d7fb9;
}

#resume .left-blue {
  margin: 0 0 20px 10px;
  padding-left: 25px;
  border-left: 10px solid #2d7fb9;
}

#resume .time-period-left-blue {
  position: relative;
  float: left;
  width: 90px;
  font-weight: 600;
  color: #2d7fb9;
}

#resume .time-period-left-blue:before {
  position: absolute;
  top: -3px;
  left: -44px;
  width: 16px;
  height: 16px;
  border: 6px solid #2d7fb9;
  border-radius: 15px;
  background: #fff;
  content: "";
}

#resume .skills {
  margin: 10px 0 20px;
  list-style: none;
  padding: 0;
}

#resume .skills li {
  margin-bottom: 3px;
  height: 40px;
}

#resume .skill span {
  float: left;
  width: 190px;
}

#resume .skill .b {
  float: left;
  width: 70%;
  margin-left: 10px;
  background: rgba(241, 63, 9, 0.2);
}

#resume .skills .b .eighty {
  height: 2em;
  background: #2d7fb9;
}

#resume .paper-clip {
  width: 60px;
  height: 85px;
  background: url("https://lh5.googleusercontent.com/-_VvJpGXP9N0/UwdDY7l-CQI/AAAAAAAABTI/xXPDe4i5lbQ/s330/paper-clip.png") repeat scroll 0% 0% transparent;
  position: absolute;
  top: -14px;
  right: -13px;
}

.profilepic {
  width: 100%;
}

@media screen and (max-width: 860px) {
  #resume {
    width: 620px;
  }
  #resume.left-column {
    padding-left: 5px;
  }
  #resume .right-column {
    padding-left: 0;
    width: 270px;
  }
  #resume .right-column .substrate {
    width: 230px;
  }
  #resume .substrate {
    margin-bottom: 20px;
  }
  #resume .time-period-left-blue {
    position: relative;
    float: left;
    width: 50px;
    font-weight: 600;
  }
}
@media screen and (max-width: 620px) {
  #resume {
    width: 320px;
  }
  #resume.left-column {
    float: none;
    margin: 20px 20px 0;
    padding: 0 0 0 5px;
  }
  #resume .right-column {
    margin: 0 25px 0;
    padding: 10;
  }
  #resume .right-column .substrate {
    width: 220px;
  }
  #resume .substrate {
    margin-bottom: 20px;
  }
  #resume .time-period-left-blue {
    position: relative;
    float: left;
    width: 50px;
    font-weight: 600;
  }
}