aside {
  left: 80% !important;
  background-color: rgb(146, 137, 145);
  display: inline-block;
  height: 100vh;
  top: 0% !important;
  position: fixed;
  width: 25%;
}
aside header {
  margin: 0 !important;
  box-sizing: border-box;
  background-color: darkblue;
  height: 100px;
  padding: 0 15px;
  width: 100%;
}
aside header img,
aside header p {
  display: inline-block;
  vertical-align: middle;
}
aside header img {
  border-radius: 50%;
}
aside header p {
  font-size: 13px;
  color: white;
  margin-left: 10px;
  text-transform: uppercase;
}
aside header > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
aside .profile-picture {
  height: 25%;
  width: 15%;
  right: 10% !important;
}

.side-navigation {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
}
.side-navigation a {
  color: rgb(231, 27, 27);
  display: block;
  padding: 15px 25px;
  text-decoration: none;
  text-transform: uppercase;
}
.side-navigation i.fa {
  color: grey;
  font-size: 20px;
  margin-right: 20px;
}