:root {
  --clr-accent-1: #f03636;
  --clr-accent-2: #3cff00;
  --clr-accent-3: #ffbc03;
  --clr-accent-4: #0211dd;
  --clr-accent-5: #4e4c2d;
  --clr-accent-6: #000000;

  --bg-primary: #22262a;
  --text-primary: #999999;

  --transition: 500ms ease-out;
}

.primary-nav li:nth-child(1) { --_color: var(--clr-accent-1) }
.primary-nav li:nth-child(2) { --_color: var(--clr-accent-2) }
.primary-nav li:nth-child(3) { --_color: var(--clr-accent-3) }
.primary-nav li:nth-child(4) { --_color: var(--clr-accent-4) }
.primary-nav li:nth-child(5) { --_color: var(--clr-accent-5) }
.primary-nav li:nth-child(6) { --_color: var(--clr-accent-6) }


ul:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-nav {
  background-color: rgb(146, 137, 145);
  display: inline-block;
  width: 25%;
  margin: 0;
  background-color: rgb(146, 137, 145);
  --_nav-max-width: 200px;
  --_nav-padding-inline: 1rem;
  --_nav-padding-block: 1rem;
  width: min(100%, var(--_nav-max-width));
  padding-inline: var(--_nav-padding-inline);
  padding-block: var(--_nav-padding-block);
}

.primary-nav ul {
  display: grid;
  gap: 0.5rem;
}

.nav-link {
  display: inline-flex;
  width: 100%;
  text-decoration: none;
  color: inherit;
  padding: 0.5em 1em;
  position: relative;
  overflow: hidden;
  transition: color var(--transition);
}

.nav-link:hover {
  color: var(--_color);
}

.nav-link::before {
  --_line-width: 3px;
  content: "";
  position: absolute;
  inset: 0;
  width: var(--_line-width);
  background-color: var(--_color);
  transition: transform var(--transition);
}

.nav-link:hover::before {
  transform: translateX(
    calc(
      var(--_nav-max-width) - (var(--_nav-padding-inline) * 2) -
        var(--_line-width)
    )
  );
}
