.project-image {
  height: 50%;
  width: 50%;
}

.content {
  text-align: center;
  background-color: rgba(30, 210, 135, 0.637);
}

.title {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.project-card {
  background-color: rgba(214, 193, 193, 0.5568627451);
  padding: 20px;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details {
  margin-top: 20px;
}

.project-details h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.project-details p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 20px;
}

.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2196f3;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.project-link:hover {
  background-color: #ff0606;
}