.loginPage {
  display: flex;
  width: 100%;
  height: 100%;
  form {
    margin: auto;
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    h1 {
      width: 100%;
      text-align: center;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      input {
        padding: 0.5rem;
        outline: none;
        border: 1px solid rgba(255, 140, 0, 0.4);
        border-radius: 5px;
      }
    }
  }
}
