@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // font-family: serif;
}
img,
embed,
object,
video {
  max-width: 100%;
  max-height: 100%;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
  background-color: #f3f3f3;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.App {
  width: 100%;
  height: 100%;
  padding-top: 4rem;
  position: relative;
}

.navBar {
  position: fixed;
  background-color: white;
  top: 0;
  width: 100%;
  height: 4rem;
  box-shadow: 0 -3px 10px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-family: "Lato", "Playfair Display";
  .linksDiv {
    display: flex;
    gap: 5px;
    .navLink {
      text-decoration: none;
      color: inherit;
      padding: 0.5rem;
    }
    .navLink:hover {
      background-color: #ff721d;
      color: white;
    }
  }
  form {
    #search {
      padding: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.29);
      border-radius: 10px;
      outline: none;
    }
  }
  .iconsDiv {
    display: flex;
    gap: 2rem;
    .icon {
      font-size: 1.5rem;
      cursor: pointer;
    }
    .icon:hover {
      color: #ff721d;
    }
  }
}

.aboutPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    p {
      width: 60%;
      text-align: center;
      letter-spacing: 2px;
      line-height: 2rem;
    }
    p:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.396);
      padding-bottom: 2rem;
    }
  }
  .founderBio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    p {
      width: 60%;
      text-align: center;
      letter-spacing: 2px;
      line-height: 2rem;
    }
  }
}
